<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MARKS HOTTEST 100 SONGS</title>
</head>
<body>
<h1>MARKS HOTTEST 100 SONGS</h1>
  <% @songs.each do |item| %>
    <a href="/song/<%=item.id%>">
      <h4><%= item.rank %>: <%= item.song.titleize %> - <%= item.artist.titleize %> (<%= item.year %>)</h4>
    </a>
  <% end %>
</body>
</html>